body {
	background-color: #95C186
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}

.game-title{
    font-size: 5.5vw;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
}

.main-padding{
    background-color: #BCA265;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: fit-content;
    padding: 5vw;
    border-radius: 3vw;
}

.content{
    display: flex;
    flex-direction: column;
    
    padding-inline: 5vw;
    padding-bottom: 5vw;
}

.login-title{
    color: white;

    text-align: right;
    font-size: 5.5vw;
    font-weight: bold;
}

.fruits{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3vw;
}

/* Text colors */
.red-text {
    color: #B6472C;
}

.green-text{
    color: #64AC1D;
}

.orange-text{
    color: #DD7429;
}

.yellow-text{
    color: #CFD724;
}

/* Responsive styles for different screen sizes */

@media screen and (max-width: 767px) {
	/* Phones */
	.game-title{
        font-size: 8vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	/* Tablets */
	.game-title{
        font-size: 7vw;
    }
}

@media screen and (min-width: 1024px){
	/* Desktop */
}