body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #95C186
}

header {
	text-align: center;
}

.title{
    font-size: 5.5vw;
    font-weight: bold;
}

/* Text colors */
.red-text {
    color: #B6472C;
}

.green-text{
    color: #64AC1D;
}

.orange-text{
    color: #DD7429;
}

.yellow-text{
    color: #CFD724;
}

/* Responsive styles for different screen sizes */

@media screen and (max-width: 767px) {
	/* Phones */
	.title{
        font-size: 8vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	/* Tablets */
	.title{
        font-size: 7vw;
    }
}

@media screen and (min-width: 1024px){
	/* Desktop */
}